<div class="payment-method iframe" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>   

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div id="save_data" style="display: none;">
			<div data-bind="text: getSaveData()"></div>
			<div id="responsefromajax"></div>
            <p class="btn-custm">
                <button style="display: none;" type="button" title="Select" class="action primary" id="show_iframe" data-bind="afterRender:iframe()">
                    <span>New card</span>
                </button>
            </p>
		</div>
	   
        <input type="hidden" id="cardstatuscheck" value="0"/>
        <input type="hidden" id="cardsavestatus" value="0"/>
        <input type="hidden" id="saveCardtoken" value=""/>
		<div id="iframe_data"  class="loader iframe-form" style="display:none;">
			<iframe  data-bind="attr: { src: getBaseUrl(), height: iHeight}" title='NexioGroup Payment Method' id='iframecontent'></iframe> 
            <div class="savecard">
                <div class="switch">
                    <input type="checkbox" name="new_save_card" class="radioBtnClass" id="radio-business" value="saveData" data-bind="click:savedata()" >Save Card  
                </div>
                <button style="display: none;" type="button" title="Select" class="action primary" id="back_save" data-bind="afterRender:saveDetails()">
                    <span>Cancel >></span>
                </button>
            </div>  
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="actions-toolbar mt-20">
            <div class="primary">
                <button class="action primary checkout"
                        id="submit"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())                      
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
