iframe {
    border: 0px  
}
.modal-popup .modal-inner-wrap { 
    width: 671px;
}
#iframecontent{
    max-width: 635px;
    width: 100%;
}

span.check {
    background-image: url('../images/card.jpg');
    background-position: 2px -48px;
    background-size: 100px;
    background-repeat: no-repeat;
    padding: 7px;
    margin-left: -25px;
    opacity: 0;
}
input.cc-num.valid {
    border: 1px solid #368700;
    outline: 0 none;
}
span.check.valid {
    background-position: 2px -69px;
    opacity: 1;
}
input.cc-num {
    font-size: 16px !Important;
}
/* For save card image end */

/* For checkout multiple card details start */
#save_data{
    background: transparent;
    /*width: 50%;*/
    padding: 15px 15px 4px 15px;
    border-radius: 3px;
}
#save_data #responsefromajax > div{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;

}
.btn-custm{
    text-align: right;
}
#save_data{
    position: relative;
}
#save_data::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: #f5f5f5;
    top: -8px;
    left: 30px;
    transform: rotate(45deg);
}
span.deflt-btn {
    color: #1979c3;
    font-size: 11px;
    font-weight: 600;
}
/* For checkout multiple card details end */

/* vault payment pop-up cancel button for make default start*/
.modal-inner-wrap footer.modal-footer button.action.make-default{
    background: none;
    border: none;
    box-shadow: none !Important;
    color: #1979c3;
}
div#modal-content-0 .modal-inner-content button.modal-close{
    background: none;
    border: none;
    box-shadow: none !Important;
    color: #1979c3;
}
div#modal-content-0 .modal-inner-content button.modal-close:hover{
    color: #006bb4;
    text-decoration: underline;
}
.modal-inner-wrap footer.modal-footer button.action.make-default:hover{
    color: #006bb4;
    text-decoration: underline;
}
.modal-inner-wrap footer.modal-footer, .cancal-add-payment{
    text-align:right;
}
td.col.actions {
    display: flex;
}
.account .data.table .col.actions .action.delete::after{
    border-left: 1px solid #a6a6a6;
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    vertical-align: -1px;
}
.td.col.actions last-child {
    border-left:none;
}
.account .data.table .col.actions .action.delete.make::after  {
    border: none;
}
.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary{
    line-height: 2.2rem;
    padding: 10px 10px !Important;
    font-size: 1.8rem;
}

.payment-method.iframe._active{
    max-width: 600px;
    height: 820px;
}
.iframe-form{

}
.iframe-form-sm{
    height: 270px;
}
/*For checkout iframe form start*/
.iframe-form iframe , .iframe-form-sm iframe{
    width: 100%;
}
.iframe-form ,.iframe-form-sm{
    position: relative;
    background-color: #efefef;
    padding: 15px;
    border-radius: 5px;
    max-width: 550px;
}
.savecard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.savecard .action.primary {

    color: #006bb4;
    padding: 0px;
    background-color: #efefef;
    border: 0px;
}
.mt-20 {
    margin-top: 20px;
}
.iframe-form::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: solid 10px rgb(239 239 239);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    top: -10px;
    left: 40px;
}
/*For checkout iframe form end*/

/** Save Card **/
.nexio-card-list{
    background:transparent;
}

.nexio-card-item {
    background:transparent;
    border-radius: 7px;
    margin:0.5rem;
    font-size: 1.65rem;
    font-weight: 400;
    display:flex;
    align-items: center;
}

.nexio-cc-container{
    border: 2px solid rgb(146, 165, 181);
    background: white;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
}

.nexio-exp-container{
    display: grid;
}

.nexio-expire-date{
    font-weight: 300 !important;
    font-size: 1.2rem !important;
}

.nexio-card-label{
    font-weight:bold;
}

.nexio-cc-amex{
    background-image: url("../images/amex.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70px;
    height: 48px;
    margin: 15px !important;
}

.nexio-cc-discover{
    background-image: url("../images/discover.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70px;
    height: 48px;
    margin: 15px !important;
}

.nexio-cc-mastercard{
    background-image: url("../images/mastercard.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70px;
    height: 48px;
    margin: 15px !important;
}

.nexio-cc-visa{
    background-image: url("../images/visa.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70px;
    height: 48px;
    margin: 15px !important;
}

.nexio-cc-other{
    background-image: url("../images/cc-other.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70px;
    height: 48px;
    margin: 15px !important;
}

.nexio-card-radio {
    width: 1.2rem;
    height: 1.2rem;
}

.nexio-default-card {
    font-weight: bold;
    font-size: .7rem;
    color: #0170B9;
}

