table.table-order-items {
   
    margin-top: 15px;
    width: 70%;
    border: 1px solid #e1e1e1;
}
.table-order-items tfoot td {
    text-align: right;
}
.shipping-info-section {
    display: flex;
    margin-top: 10px; 
}
.shipping-info-section .details-card {
    width: 30%;
}
.block-order-details-view .shipping-info-section .details-card  .box-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    color: black;
}
.block-order-details-view .block-title.main-title {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}
.table.table-order-items > thead > tr > th, .table.table-order-items > tbody > tr > th, .table.table-order-items > tbody > tr > td {
    border: 0px;
}
.table.table-order-items > thead > tr > th {
    background-color: #f1f1f1;
}
.table.table-order-items tfoot > tr:first-child th, .table.table-order-items tfoot > tr:first-child td {
    border-top: 0px;
}
.block.block-order-details-view {
    width: 70%;
}
